@charset "UTF-8";
	.albino{
	width: 150px;
    display: inline-block;
    text-align: left;
    }

    .albino200{
	width: 200px;
    display: inline-block;
    text-align: left;
    }

    .albino_deco{
	width: 800px;
	display: inline-block;
    text-align: left;

    }

