@charset "UTF-8";
	 .header{
	color: #000000;
	background-color:#CC6633
	}

	.lightgray{
	background-color:#d3d3d3;
	}

	.blue{
	color:#fffafa;
	background-color:#5f9ea0;
	}

	.red{
	color:#fffafa;
	background-color:#c71585;
	}

	.green{
	color:#fffafa;
	background-color:#6b8e23;
	}

	.example1 { color: #ff0000; }
